*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html{
  font-size: 18px;
  font-family: sans-serif;
}
body{
  background-color: #f5f5f5;
  color: #525458;
  min-width: 768px;
}
li{
  list-style: none;
}



#App{
  position: relative;
}


#Body{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.center{
  display: inline-block;
  text-align: left;
  max-width: 1080px;
  width: 100%;
}



.template-box{
  padding: 2.4rem;
  background-color: #fff;
  box-shadow: 0px 5px 4px rgba(0,0,0,0.1);
}
.template-box:not(:last-child){
  margin: 0 0 .8rem 0;
}
.template-box .headerTitle{
  line-height: 2.2rem;
  font-size: 2rem;
}
.template-box .headerTitle > span{
  margin-left: .3rem;
  font-size: 1.1rem;
}
.template-box .headerTextLine{
  line-height: .85rem;
  font-size: .65rem;
}
.template-box .headerTextLine:not(:first-child){
  margin-left: .3rem;
  padding-left: .3rem;
  border-left: 1px solid #525458;
}

.template-box .sectionTitle{
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ff8a3e;
}
.template-box .sectionTextLine{
  line-height: .95rem;
  font-size: .75rem;
}

.template-box .group:not(:first-child){
  padding-top: 1.5rem;
}
.template-box .group:not(:last-child){
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #f5f5f5;
}
